* {
    font-family: 'Roboto', sans-serif;
}

html {
    scroll-behavior: smooth
}

:root {
    --lightback: #cfdbd5;
    --lighttext: #e8eddf;
    --linktext: #f5cb5c;
    --darktext: #242423;
    --darkback: #333533;
}

body {
    margin: 0;
}

h1 {
    font-size: 65px;
    margin: 25px;
}

h3 {
    max-width: 80vw;
    text-align: center;
}

.navbar-text, .bx {
    color: var(--lighttext) !important;
}

.navbar-text:hover {
    text-decoration: none;
}

.navbar-background {
    background-color: var(--darkback);
    transition: background-color .25s linear;
}

.section {
    min-height: 500px;
    border: 1px solid black;
}

.flex-column, #courses-container {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.center {
    justify-content: center;
    align-items: center;
}

.wrap {
    flex-wrap: wrap;
}

#intro-container {
    background-color: var(--darkback);
    background-size: cover;
    background-position: 0px;
    background-image: linear-gradient(90deg, #33353388 0%, #33353344 58.88%, #00000000 100%), url('../img/intro-background.jpg');
    animation-name: backgroundscroller;
    animation-duration: 300s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: normal;
    color: var(--lighttext);
    height: 100vh;
}

@keyframes backgroundscroller {
    from {
        background-position: 0% 0%;
    }
    to {
        background-position: 500% 500%, 400% 400%, 300% 300%, 200% 200%, 100% 100%;
    }
}

.project-cell-container {
    padding: 15px;
    margin: 15px;
    border: 1px solid black;
    max-width: 90vw;
}

.project-cell {
    padding: 15px;
}

.resume-buttons {
    text-decoration: none;
}

.resume-buttons, .expand-buttons {
    margin: 15px;
    padding: 15px;
}

.resume-buttons, .expand-buttons:hover {
    cursor: pointer;
}

.half-section {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.hidden {
    display: none;
}

/* Tablet Styles */

@media only screen and (min-width: 444px) and (max-width: 1019px) {
    .project-cell-container {
        max-width: 25vw;
    }
    #courses-container {
        flex-direction: row;
    }
}

@media only screen and (min-width: 800px) and (max-width: 1450px) {
    #intro-container {
        animation-duration: 150s;
    }
}

/* Desktop Styles */

@media only screen and (min-width: 1020px) {
    .project-cell-container {
        max-width: 25vw;
    }
    #courses-container {
        flex-direction: row;
    }
}